 body {
      background-color: #333;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .card {
      max-width: 380px;
      width: 90%;
      padding: 20px;
      border-radius: 12px;
    }

    .btn-primary {
      background-color: rgb(180, 0, 30);
      border: none;
      color: white;
    }

    .btn-primary:hover {
      background-color: rgb(150, 0, 25);
    }

    .btn-secondary {
      background-color: rgb(51, 51, 51);
      color: white;
      border: none;
    }

    .btn-secondary:hover {
      background-color: rgb(30, 30, 30);
    }