  body {
            background-color: #f8f9fa;
        }
        .error-container {
            min-height: 100vh;
        }
        .error-code {
            font-size: 8rem;
            font-weight: 800;
            color: #adb5bd;
        }